section.Verses {
  background-color: rgba(250, 251, 252, 1);
  .sec_container {
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 992px) {
      flex-direction: column-reverse;
    }
    .info_sec {
      .boxes_bref {
        box-shadow: 0px 16px 48px 0px rgba(242, 243, 249, 1);
        background: rgba(255, 255, 255, 1);
        border-radius: 24px;
        display: flex;
        flex-direction: column;
        padding: 12px 16px 12px 16px;
        .box {
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
          padding-top: 13px;

          &:not(:last-child) {
            padding-bottom: 12px;
            border-bottom: 1px solid rgba(246, 248, 252, 1);
          }
          .title {
            p {
              font-family: var(--effra-font);
              font-size: 16px;
              font-weight: 400;
              line-height: 30px;
              letter-spacing: 0em;
              text-align: right;
              color: rgba(131, 164, 184, 1);
            }
          }
          .desc {
            p {
              font-family: var(--effra-font);
              font-size: 16px;
              font-weight: 700;
              line-height: 30px;
              letter-spacing: 0em;
              color: rgba(17, 41, 47, 1);
            }
          }
        }
      }
      .boxes_container {
        display: flex;
        flex-direction: column;

        .box {
          display: flex;
          flex-direction: column;
          padding-right: 12px;
          margin-top: 20px;

          .title {
            margin-bottom: 8px;
            p {
              font-family: var(--effra-font);
              font-size: 18px;
              font-weight: 700;
              line-height: 25px;
              letter-spacing: 0px;
              text-align: right;
              color: rgba(68, 57, 77, 1);
            }
          }
          .desc {
            p {
              font-family: var(--effra-font);
              font-size: 16px;
              font-weight: 400;
              line-height: 22px;
              letter-spacing: 0px;
              text-align: right;
              color: rgba(151, 155, 182, 1);
            }
          }
        }
      }
    }
    .sec_title {
      margin-top: 40px;

      h3 {
        font-family: var(--effra-font);
        font-size: 24px;
        font-weight: 700;
        line-height: 29px;
        letter-spacing: 0px;
        text-align: right;
        color: rgba(131, 164, 184, 1);
      }
    }

    .slider_sec {
      margin-top: 24px;
      margin-bottom: 50px;

      @media screen and (max-width: 992px) {
      }

      .box {
        display: flex;
        .box_container {
          margin: auto;
          width: 397px;
          height: 319px;
          padding: 24px;
          border-radius: 24px;
          background-color: #ffffff;

          display: flex;
          flex-direction: column;

          @media screen and (max-width: 992px) {
            width: 250px;
          }

          .info {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;

            .img_container {
              width: 40px;
              height: 40px;
              display: flex;
              border-radius: 32px;
              position: relative;
              z-index: 1;
              background-color: rgba(230, 221, 198, 0.2);
              margin-left: 12px;

              box-shadow: 0 7.2321438789px 5.3035721779px 0 rgba(0, 0, 0, 0.05);
              &::after {
                box-shadow: 0 7.2321438789px 5.3035721779px 0
                  rgba(0, 0, 0, 0.05);
                content: "";
                position: absolute;
                top: -8px;
                left: -8px;
                width: calc(100% + 16px);
                height: calc(100% + 16px);
                border: 8px solid #fff;
                border-radius: 50%;
                box-sizing: border-box;
              }
              img {
                object-fit: contain;
                width: 100%;
                height: 100%;
              }
            }

            .text_container {
              margin-bottom: 16px;
              .name {
                margin-bottom: 4px;
                p {
                  font-family: var(--effra-font);
                  font-size: 16px;
                  font-weight: 500;
                  line-height: 19px;
                  letter-spacing: 0px;
                }
              }
              .type {
                p {
                  padding: 2.5px 8px 2.5px 8px;
                  border-radius: 16px;
                  background: #bb71651a;

                  font-family: var(--effra-font);
                  font-size: 12px;
                  font-weight: 400;
                  line-height: 14px;
                  letter-spacing: 0px;
                  color: #bb7165;
                  text-align: center;
                }
              }
            }
          }

          .desc {
            p {
              font-family: var(--effra-font);
              font-size: 16px;
              font-weight: 400;
              letter-spacing: 0px;
              color: rgba(131, 164, 184, 1);
            }
          }
          .said {
            margin-top: auto;
            .title {
              margin-bottom: 23px;
              p {
                font-family: var(--effra-font);
                font-size: 14px;
                font-weight: 400;
                line-height: 14px;
                letter-spacing: 0px;
                text-align: center;
                position: relative;
                color: rgba(131, 164, 184, 1);

                &::before,
                &::after {
                  content: "";
                  position: absolute;
                  top: 50%;
                  width: 100px;
                  height: 1px;
                  background-color: rgba(229, 230, 242, 1);
                }

                &::before {
                  left: 50px;

                  @media screen and (max-width: 992px) {
                    left: -24px;
                  }
                }

                &::after {
                  right: 50px;

                  @media screen and (max-width: 992px) {
                    right: -24px;
                  }
                }
              }
            }

            .desc {
              p {
                font-family: var(--effra-font);
                font-size: 16px;
                font-weight: 700;
                line-height: 19px;
                letter-spacing: 0px;
                text-align: center !important ;
                color: rgba(131, 164, 184, 1) !important;
              }
            }
          }
        }
      }
    }
  }
}
